<div class="jumbotron">
    <% if(isAuthenticated) {%>
        <%- include('./partials/toolbarAuth.ejs'); %>
    <% } %>
    <%  if(!isAuthenticated){ %>
        <%- include('./partials/toolbar.ejs'); %>
    <% } %>
</div>
<div>
    <a class="btn btn-primary" href="/" role="button">
        <i class="fa fa-home" aria-hidden="true"></i>
            HOME
    </a>
</div>