<div class="navbar-default sidebar nicescroll" role="navigation">
    <div class="sidebar-nav navbar-collapse ">
        <ul class="nav" id="side-menu">
            <%if (user.roll == "admin") { %>
            <li>
                <a href="/admin/homepage" class="waves-effect"><i class="glyphicon glyphicon-fire fa-fw"></i>
                    Dashboard</a>
            </li>
            <li>
                <a href="/admin/account/edit" class="waves-effect"><i class="ti-user fa-fw"></i>Profile</a>
            </li>
            <li>
                <a href="/admin/manager/managersList" class="waves-effect"><i class="ti-layout fa-fw"></i>Danh sách quản lý</a>
            </li>
            <li>
                <a href="/admin/movie/moviesList" class="waves-effect"><i class="ti-layout fa-fw"></i>Danh sách Phim</a>
            </li>
            <li>
                <a href="/admin/theater" class="waves-effect"><i class="ti-layout fa-fw"></i>Danh sách Rạp</a>
            </li>
            <%  }else{ %>
            <li>
                <a href="/admin/homepage" class="waves-effect"><i class="glyphicon glyphicon-fire fa-fw"></i>
                    Dashboard</a>
            </li>
            <li>
                <a href="/admin/account/edit" class="waves-effect"><i class="ti-user fa-fw"></i>Profile</a>
            </li>
            <li>
                <a href="/admin/filmschedule/filmschedulesList" class="waves-effect"><i class="ti-layout fa-fw"></i>Lịch chiếu</a>
            </li>
            <%  } %>

        </ul>
        <div class="center p-20">
            <span class="hide-menu"><a href="/admin/logout"  class="btn btn-info btn-block btn-rounded waves-effect waves-light">Đăng xuất</a></span>
        </div>
    </div>
</div>