<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, severny admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, my admin design, my admin dashboard bootstrap 4 dashboard template">
    <meta name="description"
        content="My Admin is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Manager Dashboard</title>
    <%- include('../common/style'); -%>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
            <%- include('../common/header',{user: user}); -%>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <%- include('../common/column_left',{user: user}); -%>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-12">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="row row-in">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="col-in text-center">
                                        <h5 class="text-danger">Số vé bán được</h5>
                                        <h3 class="counter">5645</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="col-in text-center b-r-none">
                                        <h5 class="text-muted text-warning">Lượt xem tuần</h5>
                                        <h3 class="counter">4000</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="col-in text-center">
                                        <h5 class="text-muted text-purple">Lượt xem tháng</h5>
                                        <h3 class="counter">40000</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="col-in text-center b-0">
                                        <h5 class="text-info">Đạt chỉ tiêu</h5>
                                        <h3 class="counter">70%</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="morris-area-chart" style="height: 345px;"></div>
                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="white-box">
                            <h3>Các sự kiện khuyến mãi</h3>
                            <ul class="list-task list-group" data-role="tasklist">
                                <li class="list-group-item" data-role="task">
                                    <div class="checkbox checkbox-info">
                                        <input type="checkbox" id="inputSchedule" name="inputCheckboxesSchedule">
                                        <label for="inputSchedule"> <span>Thứ 3 hàng tuần</span> </label>
                                    </div>
                                </li>
                                <li class="list-group-item" data-role="task">
                                    <div class="checkbox checkbox-info">
                                        <input type="checkbox" id="inputCall" name="inputCheckboxesCall">
                                        <label for="inputCall"> <span>Valentine 14/2 siêu tình cảm</span> <span
                                                class="label label-danger">Now</span> </label>
                                    </div>
                                </li>
                                <li class="list-group-item" data-role="task">
                                    <div class="checkbox checkbox-info">
                                        <input type="checkbox" id="inputBook" name="inputCheckboxesBook">
                                        <label for="inputBook"> <span>Đón tết Tân Sửu</span> </label>
                                    </div>
                                </li>
                                <li class="list-group-item" data-role="task">
                                    <div class="checkbox checkbox-info">
                                        <input type="checkbox" id="inputForward" name="inputCheckboxesForward">
                                        <label for="inputForward"> <span>Mừng xuân xem phim thả ga</span> <span
                                                class="label label-warning">2 weeks</span> </label>
                                    </div>
                                </li>
                               
                                <li class="list-group-item" data-role="task">
                                    <div class="checkbox checkbox-info">
                                        <input type="checkbox" id="inputForward2" name="inputCheckboxesd">
                                        <label for="inputForward2"> <span>Đón giáng sinh tại rạp phim</span> <span
                                                class="label label-success">Incomming</span> </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="white-box">
                            <h3>Đánh giá từ khách hàng</h3>
                            <div class="message-center">
                                <a href="#">
                                    <div class="user-img">
                                        <img src="/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span
                                            class="profile-status online pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Võ Thế Minh</h5>
                                        <span class="mail-desc">Trang web tuyệt vời 10 đ</span> <span class="time">9:30
                                            AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <img src="/images/users/sonu.jpg" alt="user"
                                            class="img-circle"> <span class="profile-status busy pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Phan Thanh Thế</h5>
                                        <span class="mail-desc">Quá tuyệt cho 10 sao</span> <span
                                            class="time">9:10 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <img src="/images/users/arijit.jpg" alt="user"
                                            class="img-circle"> <span class="profile-status away pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Hồ Thị Sinh</h5>
                                        <span class="mail-desc">Chất lượng dịch vụ quá tuyệt</span> <span class="time">9:08 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <img src="/images/users/genu.jpg" alt="user"
                                            class="img-circle"> <span class="profile-status online pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Hà Giang Lâm</h5>
                                        <span class="mail-desc">Nhân viên năng nổ nhiệt tình</span> <span
                                            class="time">9:08 AM</span>
                                    </div>
                                </a>
                                <a href="#" class="b-none">
                                    <div class="user-img"> <img src="/images/users/pawandeep.jpg" alt="user"
                                            class="img-circle"> <span class="profile-status offline pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Động Đức Thái</h5>
                                        <span class="mail-desc">Quá tuyệt!!!</span> <span class="time">9:02
                                            AM</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        <footer class="footer text-center"> 2020 &copy; ZeroPP & BaoBao </footer>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <%- include('../common/script'); -%>
</body>

</html>