<div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg "
    href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i
        class="ti-menu"></i></a>
<div class="top-left-part"><a class="logo" href="dashboard.html"><i
            class="glyphicon glyphicon-fire"></i>&nbsp;<span class="hidden-xs"> <%= user.email %> </span></a></div>
<ul class="nav navbar-top-links navbar-left hidden-xs">
    <li><a href="javascript:void(0)" class="open-close hidden-xs hidden-lg waves-effect waves-light"><i class="ti-arrow-circle-left ti-menu"></i>
        </a></li>
</ul>
<ul class="nav navbar-top-links navbar-right pull-right">
    <li>
        <a class="profile-pic" href="#"> <img src="<%= user.avatar %>" alt="user-img" width="36"
                class="img-circle"><b class="hidden-xs"> <%= user.email %> </b> </a>
    </li>
</ul>
</div>