<div>
    <h1>HOME PAGE chưa đăng nhập</h1>
</div>
<div>
    <a href="/users/register"><button type="button" class="btn btn-primary">REGISTER</button>
</div>
<div>
    <a href="/users/login"><button type="button" class="btn btn-secondary">LOGIN</button></a>
</div>
<div>
    <a href="/users/auth/facebook"><button type="button" class="btn btn-info">LOGIN WITH FACEBOOK</button></a>
</div>