<div>
    <h1>HOME PAGE đã đăng nhập</h1>
</div>
<div>
    <a href="/users/account"><button type="button" class="btn btn-success">TÀI KHOẢN</button>
</div>
<div>
    <a href="/users/logout"><button type="button" class="btn btn-info">ĐĂNG XUẤT</button></a>
</div>
<div>
    <a href="/myticket"><button type="button" class="btn btn-primary">VÉ CỦA TÔI</button></a>
</div>
<div>
    <a href="/users/nowShowing"><button type="button" class="btn btn-danger">ĐẶT VÉ</button></a>
</div>