<header class="site-header">
    <div class="container">
        <a href="/" id="branding">
            <img src="/public/images/logo.png" alt="" class="logo" style="vertical-align: top;">
            <div class="logo-copy">
                <h1 class="site-title" style="font-weight: 700;">Just4 Company</h1>
                <small class="site-description">More pain, more gain</small>
            </div>
        </a> <!-- #branding -->

        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item"><a href="/">Trang chủ</a></li>
                <li class="menu-item"><a href="/users/nowShowing">Phim đang chiếu</a></li>
                <!-- <li class="menu-item"><a href="/myticket">Vé của tôi</a></li> -->
                <!-- <li class="menu-item"><a href="/about">About us</a></li> -->
                <li class="menu-item"><a href="/users/login">Đăng nhập</a></li>
                <!-- <li class="menu-item"><a href="/chooseSeat">Demo chọn ghế</a></li> -->
            </ul> <!-- .menu -->

            <!-- <form action="#" class="search-form">
                <input type="text" placeholder="Search...">
                <button><i class="fa fa-search"></i></button>
            </form> -->
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>
</header>