<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
      <%# include ('./partials/messages') %>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div> -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Đăng nhập</title>
    <!--Made with love by Mutiullah Samim -->

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--Bootsrap 4 CDN-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!--Fontawesome CDN-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <!--Custom styles-->
    <!-- truyền vào /css/login.css -->
    <link rel="stylesheet" type="text/css" href="/public/css/login.css" />
  </head>

  <body style="background-color: #131a20">
    <%- include('./partials/messages.ejs')  %> 
    <div id="site-content">
      <!-- header -->
      <%- include('./partials/header.ejs') %>

      <main class="main-content">
        <div class="container">
          <div class="breadcrumbs">
            <a href="/">Trang chủ</a>
            <span>Đăng nhập</span>
          </div>
          <div class="container">
            <div class="d-flex justify-content-center h-100">
              <div class="card">
                <div class="card-header">
                  <h3>Đăng nhập</h3>
                  <div class="d-flex justify-content-end social_icon">
                    <a href="fb.com">
                      <span><i class="fab fa-facebook-square"></i></span>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <form action="/users/login" method="POST">
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-user"></i
                        ></span>
                      </div>
                      <input
                        id="email"
                        name="email"
                        type="text"
                        class="form-control"
                        placeholder="username"
                      />
                    </div>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-key"></i
                        ></span>
                      </div>
                      <input
                        id="password"
                        name="password"
                        type="password"
                        class="form-control"
                        placeholder="password"
                      />
                    </div>

                    <div class="form-group">
                      <input
                        type="submit"
                        value="Đăng nhập"
                        class="btn float-right login_btn"
                      />
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="/users/register">Sign Up</a>
                  </div>
                  <!-- <div class="d-flex justify-content-center">
                                    <a href="#">Forgot your password?</a>
                                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- footer -->
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
